//  theme-architecte
@use "@stephane888/wbu-atomique/scss/wbu-ressources-clean.scss" as *;
@use "./variables.scss" as *;
@use "../m5/inc/partenaire-service.scss";
@use "../m3/inc/avis-theme-extra.scss";
@use "../inc/partenaires.scss";
@use "./inc/teasers-architecte.scss";
.avis-theme-extra {
  &::before {
    background-color: rgb(32 32 32 / 88%);
  }
  .block-title {
    text-align: center;
    margin-top: 4rem;
    color: #fff;
    &::before {
      display: none;
    }
  }
  .swiper-image {
    .cover-text {
      padding-bottom: 0;
      .description {
        padding-top: $wbu-margin * 0.5;
      }
    }
  }
}
