@use "@stephane888/wbu-atomique/scss/wbu-ressources.scss" as *;
@use "../variables.scss" as *;
/* conteneur principal */
.produits-promotions {
  margin-top: $wbu-margin * 2;
  .col-md-12 {
    border: 0px solid black;
    height: 550px;
    width: 100%;
  }

  .prom_image {
    position: relative;
    margin: 0;
    margin-bottom: $wbu-margin;
    &::before {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      bottom: auto;
      max-height: 100%;
      width: auto;
      transform: translate(-50%, -50%);
    }
  }

  /*item card produit title */

  .col-md-12 .prom_img_title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
  }

  /* reduction & date limite */

  .col-md-12 .reduc {
    display: inline-block;
    width: 100%;
    border: 0px solid black;
    text-align: center;
    color: red;
    list-style: none;
  }
  .col-md-12 .reduc .reduc_date {
    display: block;
    float: left;
    margin-left: 0 auto;
    width: auto;
    padding: 6px;
    height: auto;
    text-align: center;
  }
  .col-md-12 .reduc .reduc_percent {
    display: block;
    float: left;
    margin-left: -40px;
    width: 20%;
    padding: 6px;
    height: auto;
    text-align: center;
    background: red;
    color: white;
  }

  /* prix par mettre carré */

  .col-md-12 .product_price {
    display: inline-block;
    width: 100%;
    border: 0px solid black;
    color: red;
    list-style: none;
  }
  .col-md-12 .product_price li:first-child {
    margin-left: -40px;
  }
  .col-md-12 .product_price li {
    list-style: none;
    display: block;
    float: left;
    width: auto;
    margin: 0 auto;
    left: 0;
    height: auto;
  }
  /* item card produit avis block */
  .stars {
    margin-bottom: 10px;
  }
  .blank {
    color: black;
  }
  .blank:hover {
    color: gold;
  }
}
