@use "@stephane888/wbu-atomique/scss/wbu-ressources.scss" as *;
@use "./variables.scss" as *;

.contain-main-menu {
  margin-bottom: $space_bottom !important;
}

.page-product-full {
  .block {
    margin-bottom: $wbu-margin * 2;
  }
  @import "./inc/block-title.scss";
  /**
   * formulaire de filtre.
   */
  @import "./inc/view_filter_display_filter.scss";
  /**
   * view display
   */
  .catalogue-search {
    position: relative;
    @include media-min("MD") {
      header {
        position: absolute;
        right: 0;
        top: -70px;
        left: auto;
      }
    }
    .views-row {
      padding-bottom: 2rem;
    }
  }

  /**
   * Side bar left
   */
  .side-bar-left {
    .region-commerce-sidebar-left {
      box-shadow: 0 15px 30px rgb(0 0 0 / 10%);
      padding: 0 15px 15px 15px;
      margin-left: -15px;
      min-height: 100%;
    }
    .contain-cartsider-bar {
      font-size: $wbu-default-font-size * 0.8;
      img {
        max-height: 100px;
        width: auto;
      }
    }
    tbody > tr:first-child > td {
      border-top: none;
    }
    tbody tr {
      td {
        padding-bottom: 0;
      }
      td:first-child {
        padding-left: 0;
      }
      td:last-child {
        padding-right: 0;
      }
    }
    fieldset {
      .fieldset-wrapper {
        display: flex;
        width: 100%;
        > fieldset:first-child {
          width: calc(50% - 10px);
          padding-right: 10px;
        }
        > fieldset:last-child {
          width: calc(50% - 10px);
          padding-left: 10px;
        }
      }
    }
  }

  /**
   * -hierarchical-taxonomy-menu
   */
  @import "./inc/hierarchical-taxonomy-menu.scss";
  .cart-side-bar {
    .form-actions {
      display: none;
    }
  }
  .item-remove {
    background: transparent;
    color: hsl(0, 72%, 38%);
    border: none;
    padding: $wbu-margin * 0.05;
    font-size: $wbu-default-font-size * 1.4;
    line-height: 1;
    &:hover {
      color: #f00;
      background: transparent;
    }
  }
}
.product-full {
  fieldset {
    padding-left: 0;
    padding-right: 0;
  }
  .field {
    display: flex;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: $wbu-margin * 0.5;
    .field__label {
      @include addTwoPointAfterLabel();
      font-weight: 400;
    }
    .field__item {
      p:last-child {
        margin: 0;
      }
    }
    &.description {
      &.hidden-text {
        max-height: 500px;
        &::before {
          display: block;
          content: "";
          position: absolute;
          height: 100px;
          bottom: 0;
          left: 0;
          width: 100%;
          background: rgb(255, 255, 255);
          background: linear-gradient(
            180deg,
            #ffffff00 0%,
            #ffffff00 0%,
            #ffffff 100%
          );
        }
      }
      display: block;
      overflow: hidden;
      position: relative;
    }
    &.field--name-field-images {
      flex-direction: column;
      .owl-dots {
        margin: 0;
        margin-top: -$wbu-margin * 0.5;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-left: -5px;
        margin-right: -5px;
        img {
          max-width: 100px;
          padding: 5px;
          padding-right: 5px;
        }
      }
    }
  }
  .title {
    font-size: $wbu-default-font-size * 1.5;
    line-height: $wbu-default-line-height;
    font-weight: 500;
    margin: 0;
    margin-bottom: $wbu-margin * 1.5;
  }
  .price {
    font-weight: 600;
    margin-bottom: $wbu-margin;
    color: $wbu-color-primary;
    display: block;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    .reduc,
    .product_price {
      font-size: $wbu-default-font-size;
      margin-bottom: $wbu-margin * 0.5;
    }
    .reduc {
      color: #f00;
      font-weight: normal;
      text-transform: lowercase;
      .reduc_percent {
        padding-right: $wbu-margin;
        padding-left: $wbu-margin;
        color: #fff;
        background-color: #f00;
        margin-right: $wbu-margin * 0.5;
      }
    }
    .product_price {
      display: flex;
      align-items: baseline;
      font-size: $wbu-default-font-size * 1.25;
      .price-base {
        padding-right: $wbu-margin;
      }
    }
    .price-calculate {
      font-size: $wbu-default-font-size * 2;
    }
  }
  .reference {
    .item-content {
      font-weight: 500;
      color: $wbu-color-primary;
    }
  }

  .call-action-devis {
    font-size: $wbu-default-font-size * 1.2;
    background-color: #f9f9f9;
    border: 1px solid $wbu-border-color;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: $wbu-margin * 0.5 $wbu-margin * 0.7;
    text-align: center;
    margin-bottom: $wbu-margin * 1.5;
    i {
      font-size: $wbu-default-font-size * 3.2;
      color: $wbu-color-primary;
      display: inline-block;
      padding-bottom: 0.5rem;
    }
  }

  .product-tabs {
    margin-bottom: $wbu-margin * 2.5;
    .field {
      font-weight: inherit;
    }
    .nav-tabs .nav-link {
      color: inherit;
      &.active {
        color: inherit !important;
        font-weight: 500;
        &:focus {
          color: inherit !important;
        }
      }
      &:hover {
        color: #fff;
      }
    }
    .tab-pane {
      padding: $wbu-margin 0;
    }
    &--button {
      position: absolute;
      top: auto;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
      visibility: hidden;
    }
  }

  .product-comments {
    padding: $wbu-margin * 1.5;
    background: #eeeef0;
    width: 100%;
    font-size: $wbu-default-font-size * 0.8;
    .block-title .title {
      font-size: 2.8rem;
      line-height: 100%;
      font-weight: 900;
    }
    .field {
      display: block;
    }
    .comment-form__title {
      font-size: $wbu-default-font-size;
    }
    .comment {
      width: 100%;
      .comment__meta {
        padding-top: $wbu-margin * 1.5;
      }
      .field--name-user-picture {
        img {
          max-width: 60px;
        }
      }
      .user-view-compact {
        .field {
          width: 100%;
          text-align: center;
        }
      }
    }
    .details-avis {
      padding: 0 0 $wbu-margin * 2 0;
      font-size: $wbu-default-font-size * 1.05;
      color: #3e3e4c;
    }
  }
}
