@use "@stephane888/wbu-atomique/scss/wbu-ressources-clean.scss" as *;
@use "./variables.scss" as *;
.product-teaser-simple {
  background: #fff;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 8%);
  border: 1px solid #ecedf0;
  border-radius: 4px;
  padding: $wbu-margin * 0.5;
  max-width: 215px;
  margin-bottom: $wbu-margin;
  margin-left: auto;
  margin-right: auto;
  .product_price {
    color: $wbu-color-primary;
    font-size: $wbu-default-font-size;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    .reduc {
      margin-bottom: $wbu-margin * 0.5;
      .reduc_percent {
        background: #f00;
        color: #fff;
        padding: 0 5px;
        white-space: nowrap;
        display: flex;
        align-items: center;
        margin-right: 5px;
      }
      .reduc_date {
        color: $wbu-color-text;
      }
    }
    .price-calculate {
      font-size: $wbu-default-font-size * 1.5;
    }
  }
  .prom_img_title {
    font-weight: 600;
    padding-bottom: $wbu-margin;
    a {
      color: inherit;
    }
  }
}
