//@use "../variables.scss" as *;
@use "@stephane888/wbu-atomique/scss/wbu-ressources-clean.scss" as *;
@use "../inc/cart-summary-final.scss";
@use "../inc/block-page-title-block.scss";
@use "../inc/filter-side-bar-search.scss";
@use "../product-promotion.scss";
@use "../step-donneesite.scss";

.menu.navbar {
  @include media-min(DD) {
    justify-content: center;
  }
}

// teaser
.billetDeBlogTeaser {
  margin-bottom: $wbu-margin * 1.5;
  min-height: 375px;
}
.filter-side-bar-search {
  margin-bottom: $wbu-margin * 1.5;
  .form-row {
    align-items: end;
    > fieldset {
      max-width: 300px;
      margin-right: $wbu-margin;
    }
  }
}
.block-filter-side-bar-search {
  .block-title {
    .title {
      font-size: 1.8rem;
      font-weight: 400;
    }
  }
}
//
.teaser-img-desc {
  .title {
    color: $wbu-color-primary;
  }
}

#block-homepageslider {
  .btn {
    a {
      background: $wbu-color-primary;
    }
  }
  .md-slide-item > .md-objects {
    > .md-object:first-child {
      border-left: 2px solid $wbu-color-primary;
    }
  }
}
/**
 * -- Lesroisdelareno-bundle-model1
 */
.lesroisdelareno-bundle-model1 {
  .titre {
    padding: 1rem 0;
  }
}

.comment-lmsg__container {
  .owl-carousel .owl-nav button {
    left: -90px;
    &.owl-next {
      right: -90px;
      left: auto;
    }
  }

  .owl-stage-outer {
    @include media-min(DD) {
      //max-width: calc(100% - 200px);
    }
    margin-left: auto;
    margin-right: auto;
  }
  .owl-carousel {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}

/**
 * --
 */
.services-sliders {
  margin: 0;
}

/**
 * --
 */
.images-bg {
  margin: 0;
  background-color: rgb(211, 212, 212);
}

.nos-realisations.titre-section {
  margin-bottom: 0;
}
