@use "../variables.scss" as *;
@use "@stephane888/wbu-atomique/scss/wbu-ressources-clean.scss" as *;
@use "../inc/cart-summary-final.scss";
@use "../inc/block-page-title-block.scss";
@use "../inc/filter-side-bar-search.scss";

.filter-side-bar-search {
  margin-bottom: $wbu-margin * 1.5;
  .form-row {
    align-items: end;
    > fieldset {
      max-width: 300px;
      margin-right: $wbu-margin;
    }
  }
}
.block-filter-side-bar-search {
  .block-title {
    .title {
      font-size: 1.8rem;
      font-weight: 400;
    }
  }
}
//
.teaser-img-desc {
  .title {
    color: $wbu-color-primary;
  }
}
