@use "../node-teasers.scss";
//@use "../variables.scss" as *;
@use "../override-style.scss";
@use "../defautl-style.scss";
@use "../product-teaser.scss";

// Librairie;
@use "@stephane888/wbu-atomique/scss/molecule/steph/teaser-img-desc.scss";
@use "@stephane888/wbu-atomique/scss/molecule/steph/titre-section.scss";
@use "@stephane888/wbu-atomique/scss/organisme/sections/titre-description.scss";
@use "@stephane888/wbu-atomique/scss/organisme/steph/lesroidelareno/images-bg.scss";
@use "@stephane888/wbu-atomique/scss/organisme/steph/lesroidelareno/service-icone.scss";
@use "@stephane888/wbu-atomique/scss/organisme/steph/lamaisonsaintgobain/commentaires.scss";
@use "@stephane888/wbu-atomique/scss/molecule/steph/block-call-to-action.scss";
@use "@stephane888/wbu-atomique/scss/organisme/steph/lesroidelareno/services-sliders.scss";
@use "@stephane888/wbu-atomique/scss/organisme/owls/owl-default.scss";
@use "@stephane888/wbu-atomique/scss/organisme/rc-web/hero.scss";
@use "@stephane888/wbu-atomique/scss/organisme/rc-web/header.scss" as
  rc_web_header;
@use "@stephane888/wbu-atomique/scss/organisme/rc-web/titre-rc.scss";
@use "@stephane888/wbu-atomique/scss/organisme/rc-web/price-block.scss";
@use "@stephane888/wbu-atomique/scss/organisme/rc-web/list-section.scss";
//
@use "@stephane888/wbu-atomique/scss/organisme/sections/theme_builder/fusion-bootstrap/features.scss";
@use "@stephane888/wbu-atomique/scss/organisme/sections/theme_builder/appson/header.scss";
@use "@stephane888/wbu-atomique/scss/organisme/sections/theme_builder/fusion-bootstrap/service-section.scss";
//
@use "@stephane888/wbu-atomique/scss/organisme/sections/theme_builder/lbg/lgb-hero.scss";
@use "@stephane888/wbu-atomique/scss/organisme/sections/theme_builder/lbg/lgb-left-right.scss";
@use "@stephane888/wbu-atomique/scss/organisme/sections/theme_builder/kave-home/parquet.scss";
@use "@stephane888/wbu-atomique/scss/organisme/sections/theme_builder/kave-home/block.scss";
@use "@stephane888/wbu-atomique/scss/molecule/home_page/block__whoAreWe--plain.scss";
//
@use "@stephane888/wbu-atomique/scss/organisme/steph/pages/page-bigbackground.scss";
@use "../inc/teaserPromotion.scss";
//
@use "@stephane888/wbu-atomique/scss/organisme/sections/theme_builder/saint-gobain/hero.scss"
  as saint_gobain_hero;
@use "@stephane888/wbu-atomique/scss/organisme/sections/theme_builder/vesperr/section__hero.scss";
@use "@stephane888/wbu-atomique/scss/molecule/steph/puce-step-vertical.scss";
//
@use "@stephane888/wbu-atomique/scss/organisme/sections/theme_builder/saint-gobain/price.scss";
//

@mixin logo-partenaire {
  .logo-partenaire {
    .img-p {
      width: 80px;
      height: 80px;
      background: rgb(247 247 247 / 88%);
      border: 1px dashed rgb(247 247 247 / 57%);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      overflow: hidden;
      img {
        height: auto;
        width: auto;
        max-width: 80px;
        max-height: 80px;
      }
    }
  }
}

.ourAchievments-module {
  .block-field-blocknodenos-realisationsfield-localisation {
    position: absolute;
    top: auto;
    bottom: 5px;
    left: auto;
    right: 80px;
    width: calc(100% - 85px);
    min-width: 150px;
    max-width: calc(50% - 80px);
    overflow: hidden;
    text-align: center;
    white-space: nowrap;

    .field {
      font-weight: 600;
      color: #fff;
    }
  }
  @include logo-partenaire();
}
.projecthero-module {
  @include logo-partenaire();
}
