@use "@stephane888/wbu-atomique/scss/wbu-ressources.scss" as *;
//@use "../variables.scss" as *;

.partenaire-service {
  background-color: #f3f3f3;
  padding-top: $wbu-margin * 2;
  .description.layout-region {
    margin-left: $wbu-margin;
    margin-right: $wbu-margin;
    .node--view-mode-teaser {
      padding-right: $wbu-margin;
      padding-left: $wbu-margin;
    }
  }
}
