@use "@stephane888/wbu-atomique/scss/wbu-ressources.scss" as *;
@use "../variables.scss" as *;
.rc-web {
  .swiper-big-v3 {
    .swiper-slide {
      .swiper-image {
        .cover-text {
          font-size: $wbu-default-font-size * 1.5;
          text-align: center;
          font-weight: 600;
          color: $wbu-color-text;
          background-color: rgb(255 255 255 / 0.1%);
          padding: $wbu-margin;
          max-width: 500px;
          @include media-min(DD) {
            margin-right: 50px;
          }
          .sub_title {
            display: none;
          }
          .title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: $wbu-default-font-size * 1.6;
            letter-spacing: normal;
            text-shadow: none;
            img {
              max-width: 120px;
              margin-bottom: $wbu-margin;
            }
          }
        }
        .cover-img {
          img {
            transform: translateY(40%);
            margin-top: -40%;
            left: auto;
            right: 0;
          }
        }
      }
      &.swiper-slide-active {
        .cover-text {
          background-color: rgb(255, 255, 255);
        }
      }
    }
  }
}
